body {
	background-color: #212121
}

h1 {
	color: #1db954;
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
}

p {
	color: white;
}

header {
	color: white;
}

section {
	color: white;
}

li {
	color: white;
}

aside {
	color: white;
}

footer {
	text-align: center;
	color: white;
}